@import "tailwindcss";
@import "plyr/dist/plyr.css";

@layer base {
  body {
    background-color: #141414;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
  }
}

.plyr--full-ui.plyr--video {
  --plyr-color-main: #e11d48;
}

.plyr__control--overlaid {
  background: rgba(225, 29, 72, 0.8) !important;
}

/* Rounded video corner hack for Plyr */
.plyr {
  border-radius: 1rem;
}
